<!DOCTYPE html>
<html lang="en">
<head>
  <title>Сайт для парсинга</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <style media="screen">
  .alert{
      display: none;
  }
  </style>
</head>
<body>
 <div class="jumbotron text-center">
  <h1>Тестовое задание</h1>
  <button id="button_1" type="button" class="btn btn-primary">Нажми на кнопку для начала парсинга</button>
  <div class="alert alert-success alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    Парсинг Завершен!
  </div>
 </div>
</button>
</div>
<div class="jumbotron container text-center">
    <div class="row justify-content-center">
    <div class="col-sm-5">
      <h3>Окно 1</h3>
      <ul class="list-group">
        {% for site in sites %}
        <li id="1_{{site.id}}" class="list-group-item">
            {% if not site.parsing_complete %}
                <дата dd.mm.yyyy HH:mm:ss>:
            {% else %}
                <дата {{site.parsing_time|date:"d.m.y h:i:s"}}>:
            {% endif %}
            сайт: {{site.site_url}} /
            статус: {{site.parsing_complete}}
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="col-sm-7">
      <h3>Окно 2</h3>
      <ul class="list-group">
        {% for site in sites %}
        <li id="2_{{site.id}}" class="list-group-item">
            заголовок: {{site.site_title}} /
            кодировка: {{site.site_title}} /
            тег h1: {{site.site_header}}
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
</body>
<script>
$("#button_1").on("click", function(e) {
    e.preventDefault();
    $.ajax({url: "/start_parsing"});
    var intervalId = null;
    var varName = function(){
    $.ajax({
        type: 'GET',
        url: '/get_new_info/',
          datatype: "json",
        success: function(data, textStatus, jqXHR) {
          if (jqXHR.status == "200"){
            for (var i = 0; i < data.length; i++) {
                var id_for_win1 = "#1_"+ data[i]['id'];
                $(id_for_win1).html(
                    '<дата '+data[i]['data']['parsing_time']+'>: '+
                    'url: '+data[i]['data']['site_url']+' / '+
                    'статус: '+data[i]['data']['parsing_complete']);
                var id_for_win2 = "#2_"+ data[i]['id'];
                $(id_for_win2).html(
                    'заголовок: '+data[i]['data']['site_title']+' / '+
                    'кодировка: '+data[i]['data']['site_encoding']+' / '+
                    'тег h1: '+data[i]['data']['site_header']);
            }};
            if (jqXHR.status == "204"){
                clearInterval(intervalId);
                $('.alert').show();
            };
          },
    });
    };
    $(document).ready(function(){
         intervalId = setInterval(varName, 2000);
    });
});
</script>
</html>
